@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #242333;
  color: #9a9a9a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin: 4rem 1rem 4rem 1rem;
  text-align: center;
  max-width: 20rem;
}

main {
  /* max-width: 30rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  /* to put input box and the select side by side */
  display: flex;
  margin-bottom: 2rem;
}

.input-div {
  position: relative;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  /* max-width: 30rem; */
}

input {
  color: #9a9a9a;
  padding: 0.3rem;
  font-size: 1.5rem;
  border: 0.2rem rgb(189, 187, 179) solid;
  border-radius: 0.3rem;
  color: #555;
  background-color: rgb(168, 155, 145);
  /* this is to prevent default styling of all browsers */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:focus-visible {
  outline: 0.2rem rgb(97, 80, 14) solid;
  /* outline-color: red; */
  background-color: rgb(241, 239, 235);
}

.save-button {
  background-color: rgb(21, 150, 21);
  color: #242333;
  padding: 1rem;
  font-size: 1.5rem;
  /* width: 2rem; */
  height: 90%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* now, to visually Place the button inside the input */
  position: absolute;
  right: 0.2rem;/*top 0 is not needed since the container is the same size as the button we are moving*/
  border-radius: 0.3rem;
  cursor: pointer;
}

.save-button:hover,
.save-button:focus-visible {
  color: rgb(21, 150, 21);
  background-color: #242333;
  outline: 3px #242333 dotted;
}

.save-button:hover {
  outline-width: 1px;
}

.select-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 0.35rem;
}

select {
  cursor: pointer;
  text-align: center;
  /* this is to prevent default styling of all browsers */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 100%;
  /* this border radius is used to correct natural error */
  border-radius: 0 0.4rem 0.4rem 0;
  color: #242333;
  background-color: #aaa;
  border: none;
  outline: none;
}

/* when operating the select */
select:focus-visible {
  outline: 2rem rgb(240, 195, 17) solid;
  background-color: rgb(151, 126, 88);
}

.select-wrap::after {
  content: "\25BC";
  background-color: #9a9a9a;
  color: #242333;
  padding: 0.5rem 0.2rem;
  height: 100%;
  position: absolute;
  top: 0rem;
  right: 0;
  pointer-events: none;
}

/* adding hover to the arrow */
.select-wrap:hover::after {
  background-color: #444;
  color: #9a9a9a;
  font-style: bold;
}

.todo-list-container {
  overflow: hidden;
  min-width: 100%;
  max-width: 30rem;
}

.todo-list {
  padding: 1rem;
  list-style: none;
  font-size: 1.3rem;
  overflow: hidden;
}

.todo-items {
  display: flex;
  background-color: #9a9a9a;
  color: #242333;
  margin-bottom: 0.5rem;
  transition: all 1s ease;
}

.todo-text {
  width: 100%;
  padding: 0.2rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ico {
  padding: 0.5rem 1rem;
  pointer-events: none;
}


.done-btn {
  background-color: rgb(35, 126, 35);
  /* border: solid 0.2rem rgb(35, 126, 35); */
  border: none;
}

.done-btn:hover {
  background-color: rgba(35, 126, 35, 0.8);
}

/* .done-btn:focus-visible{
  outline: 0.2rem solid rgb(5, 10, 54);
} */

.delete-btn {
  background-color: rgb(129, 9, 9);
  /* border: solid 0.2rem rgb(129, 9, 9); */
  border: none;
}

.delete-btn:hover {
  background-color: rgba(129, 9, 9,0.8);
}

.done-btn:focus-visible ,
.delete-btn:focus-visible  {
  outline: 0.2rem solid rgb(5, 10, 54);
  opacity: 0.85;
}


.delete-it {
  opacity: 0;
  transform: 
    rotateZ(-200deg)
    scale(0);
}

.mark-as-done {
  text-decoration: line-through;
  color: rgb(58, 43, 5);
  font-style: italic;
  opacity: 0.8;
}

footer {
  margin: 2rem 0.5rem;
}

footer a {
  color: unset;
}

@media Screen and (min-width: 768px) {
  header {
    max-width: 50rem;
  }

  .todo-list-container {
    max-width: 50rem;
  }

  h1 {
    font-size: 3rem;
  }
} 
